<div id="post-<%= post.id %>" class="post">
  <h2><%= post.title %></h2>
  <%= image_tag post.user.gravatar_url(:default => 'identicon') %>
  <small>Posted by <%= link_to(post.user.username, post.user)  %> on <%= post.created_at %>.</small>
  <p><%= post.body %></p>
  <small>
    <%= link_to 'Show', post %> - 
    <%= link_to 'Edit', post_edit_path(post) %> - 
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
  </small>
</div>