<% title "Editing '#{@post.title}'" %>

<% form_for @post, :url => post_path(@post.category, @post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= collection_select(:category, :id, @categories, :id, :name) %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => 'rte' %>
  </p>
  <p>
    <%= f.label "Are you human? #{@post.captcha.task} = ?" %><br />
    <%= f.text_field :captcha_solution %>
    <%= f.hidden_field :captcha_secret %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
    <small>
       | <%= link_to 'Cancel', post_path(@post.category, @post) %> | 
      <%= link_to 'Delete', post_path(@post.category, @post), :confirm => "Are you sure you want to delete '#{@post.title}'?", :method => :delete %>
    </small>
  </p>
<% end %>